@import "tailwindcss";

body {
  @apply bg-slate-100 text-slate-800 antialiased;
  margin: 0;
  padding: 0;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
}
